{% extends 'base.html' %}

{% block content %}

<body>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Jokagura E-commerce</p>
            </div>
        </div>
    </header>

    <div class="container">
    	<div class="row">
    		<center>
    			<div class="col-8">
    				<p align="justify">
    					<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet tortor risus. Praesent in risus lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ut massa odio. Maecenas non maximus odio. Integer aliquet, tellus a auctor sollicitudin, turpis mauris consectetur risus, vel gravida leo odio a sapien. Donec porta quis turpis vitae porta. Donec rutrum, massa at vulputate luctus, dui mi egestas augue, gravida dapibus mauris neque et diam.
<br><br>
Donec nisl felis, pellentesque vel dictum vel, sodales facilisis metus. Nullam turpis risus, cursus non odio in, blandit maximus augue. Vestibulum placerat placerat ligula, eu fringilla mauris consequat quis. Duis lobortis, justo quis eleifend volutpat, lectus magna dignissim ipsum, eget laoreet urna augue ac dolor. Nulla in purus eget dui laoreet condimentum eu non dolor. Phasellus accumsan ipsum molestie, fermentum leo sit amet, iaculis libero. Vivamus vitae dolor a purus egestas pharetra. In laoreet molestie est, eget volutpat magna tempus sed. Ut tempor bibendum ipsum, in efficitur tellus luctus at. Cras et arcu quis turpis faucibus sollicitudin sed ut ipsum. Proin vulputate, ex porttitor facilisis efficitur, lorem orci faucibus turpis, eu tincidunt enim massa at elit. Duis ut cursus purus. Suspendisse congue nec mauris eu lobortis. Curabitur rutrum, enim eu finibus feugiat, ante mauris efficitur ligula, ut pretium eros ante ut purus.
<br><br>
Sed ut augue velit. Fusce neque leo, varius id tempor vitae, maximus non lacus. Donec convallis fringilla felis, vel luctus mi mollis id. Vivamus eleifend mi sit amet egestas aliquet. Vivamus quis semper augue. Nulla imperdiet orci ac egestas varius. Aenean eget ultricies mi, in sagittis dui. Etiam vestibulum quam at pretium consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque enim dolor, accumsan non congue vitae, volutpat nec ligula. Phasellus scelerisque orci nulla, ut tempus libero tristique at. Ut eget aliquam neque. Curabitur fermentum malesuada mi non ultrices. Integer interdum magna elit, sit amet laoreet urna hendrerit eu. Ut nisi ligula, egestas non porta vitae, finibus at ligula. Nam id orci tempor, hendrerit magna id, bibendum arcu.
    				</p>
    			</div>
    		</center>
    	</div>
    </div>

{% endblock %}